<!doctype html>
<html>
  <head>
    <title>Bullhorn: Fast Social Updates</title>
    <link  href="http://fonts.googleapis.com/css?family=Ultra|Ubuntu:regular,bold,italic" rel="stylesheet" type="text/css" >

    <link rel='stylesheet' media='screen' href='/stylesheets/application.css'>
  </head>
  <body>
    <div id='wrapper'>
      <header id='top'>
      <h1><img src='/images/bullhorn.png' alt='Bullhorn Icon'/>Bullhorn<em>!</em></h1>
      </header>
      <%= yield %>
      <footer id='bottom'>
        Copyright &copy; 2011 Michael Bleigh. Created for a <a href='http://cloudspokes.com/'>CloudSpokes</a> competition. <a href='/sign_out' rel='nofollow'>Clear Authentication Data</a>
      </footer>
    </div>
  </body>
</html>
